/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(
    to right,
    #1e066b,
    #1f096d,
    #200c70,
    #210f72,
    #221275,
    #1f1270,
    #1c136c,
    #1a1367,
    #14105a,
    #0e0d4e,
    #0a0942,
    #0a0236
  );
  margin: 0;
  padding: 0;
}
